.projects {
  padding: 40px;
  text-align: center;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.projects-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 60%;
  padding: 20px;
  width: 280px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.project-card a {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

.project-card a:hover {
  text-decoration: underline;
}
